<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitner</title>
</head>

<style media="screen">
  html,
  body {
    width: 100%;
    margin: 0;
  }

  /* 시청기록 */

  #title {
    width: 120px;
    display: inline-block;
    margin: 40px 0px 0px 140px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  #allView {
    margin-left: 875px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #8a8a8a;
  }

  #day {
    margin: 25px 0px 14px 140px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .Video {
    margin-left: 140px;
  }

  .Videoblock {
    display: inline-block;
    margin-right: 16px;
  }

  .miniVideo {
    width: 248px;
    height: 139px;
    background-color: #aaaaaa;
  }

  /* 푸터 */

  .footer {
    width: 100%;
    height: 150px;
  }
</style>

<body>

  <!-- 오늘 본 전체 시청기록 -->
  <div class="viewRecord">
    <p id="title">시청 기록</p>
    <a id="allView">전체보기</a>

    <p id="day">오늘</p>

    <div class="allVideo">
      <!-- 1번째 줄 -->
      <div class="Video">
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
      </div>

      <!-- 2번째 줄 -->
      <div class="Video">
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 어제 본 전체 시청기록 -->

  <div class="viewRecord">
    <p id="day">어제</p>

    <div class="allVideo">
      <!-- 1번째 줄 -->
      <div class="Video">
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 4월 1일에 본 전체 시청기록 -->
  <div class="viewRecord">
    <p id="day">4월 1일</p>

    <div class="allVideo">
      <!-- 1번째 줄 -->
      <div class="Video">
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
      </div>

      <!-- 2번째 줄 -->
      <div class="Video">
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
        <div class="Videoblock">
          <div class="miniVideo"> </div>
          <p style="width: 248px; font-size: 14px; color: #000000; margin: 0;"> Full body workout 50min | 살 찐 분들 들어오세요! 전신운동 루틴 </p>
          <p style="width: 248px; font-size: 13px; color: #8a8a8a; margin-top: 0"> 힙으뜸 </p>
        </div>
      </div>
    </div>
  </div>


  <!-- 푸터 부분 -->

  <div class="footer"></div>


</body>

</html>
