<html>
  <head>
    <title>Video Live Stream</title>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <h1>dd</h1>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript">
        var last_response_len = false;
        $.ajax({
          url:"{% url 'stream_response' %}",
          dataType:'json',
          xhrFields: {
            onprogress: function(e)
            {
              var this_response, response = e.currentTarget.response;
              if(last_response_len === false)
                {
                  this_response = response;
                  last_response_len = response.length;
                }
                else
                  {
                    this_response = response.substring(last_response_len);
                    last_response_len = response.length;
                  }
                  document.write(this_response);
                  //console.log(this_response);
            }
          }
        })
        .done(function(data)
        {
            console.log('Complete response(done) = ' + data);
        })
        .fail(function(data)
        {
            console.log('Error: ', data);
        });
        //console.log('Request Sent');
        </script>
  <h1>END</h1>
  </body>
</html>